#output {
  padding:10px;
  background-color:#7293cc
}

#output2 {
  padding:10px;
  background-color:#7293cc
}

#output3 {
  padding:10px;
  background-color:#7d97c4
}

#output4 {
  padding:10px;
  background-color:#7293cc
}

#output5 {
  padding:10px;
  background-color:#7293cc
}

#output6 {
  padding:10px;
  background-color:#7293cc
}

.buttonmargin {
  margin-top:20px;
}

ul{
  list-style: none;
  border: 1px solid black
}

h2 {
  font-size:15px;
}
